.alert {
  max-width: 300px;
  width: max-content;
  height: min-content;
  background-color: #071a91ff;
  position: absolute;
  top: 20px;
  left: 20px;
  padding: 10px 20px;
  border-radius: 8px;
  color: #ffffff;
  font-weight: 500;
  font-size: 20px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s ease;
  z-index: 100;
  &__open {
    opacity: 1;
    visibility: visible;
    transition: all 0.5s ease;
  }
}
