.posts {
  &__item {
    height: max-content;
    display: flex;
    padding: 30px 17px;
    justify-content: space-between;
    border-left: 2px solid #0a3465;
    box-shadow: 3px 3px 6px 4px #888;
    border-radius: 5px;
    position: relative;
    margin-bottom: 20px;
    &:hover {
      .posts__itemTitle {
        text-decoration: underline;
      }
    }
  }

  &__itemPost {
    width: 480px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    word-wrap: break-word;
  }

  &__itemTitle {
    font-family: Nunito, sans-serif;
    font-weight: 800;
    font-size: 24px;
    line-height: 30px;
    color: #080b0e;
    margin-bottom: 5px;
    max-width: 300px;
    word-wrap: break-word;
  }
  &__itemText {
    color: #898c90;
    margin-bottom: 10px;
  }

  &__itemDate {
    font-family: IBM Plex Sans, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.01em;
    text-transform: uppercase;
    font-feature-settings: "tnum" on, "lnum" on;
    color: #c1c1c1;
    display: flex;
    gap: 20px;
  }

  &__view {
    display: flex;
    gap: 5px;
  }

  &__itemImg {
    width: 164px;
    object-fit: contain;
    box-shadow: 3px 3px 6px 4px #888;
    border-radius: 5px;
  }
}
.activePost {
  background: #8aa4b726;
}
