.yellow__button {
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  color: #ffffff;
  background-color: #13315e;
  border-radius: 12px;
  border: none;
  padding: 13px 23px;
  margin-right: 10px;
  cursor: pointer;

  &:hover {
    background-color: #081e3f;
    transition: all 0.3s ease;
    box-shadow: 0 0 2px 0 black;
  }
}

.disabled {
  background-color: #7f8081;

  &:hover {
    background-color: #7f8081;
    box-shadow: none;
  }
}
